body, html {
	width: 100%;
	margin: 0;
	padding: 0;
}

h1 {
	background-color: #fefacd;
	color: #80ced6;
	margin: 0;
	height: 60px;
	text-align: center;
	line-height: 60px;
}

#get, #post, #put, #delete {
	width: 25%;
	height: 50px;
	margin: 0;
	padding: 0;
	display: inline-block;
	float: left;
	background-color: #618685;
	color: white;
	border: lightblue solid 5px;
	outline: none;
	transition: 0.2s;
}

#get:hover, #post:hover, #put:hover, #delete:hover {
	background-color: #7a9f9d;
	outline: 10px;
	transition: 0.4s;
	border: lightblue solid 10px;
}
